*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: sans-serif;
}

#root{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

header{
    grid-column: 1/12;
    grid-row: 1;
    background-color: whitesmoke;
    height: 4rem;
    border-bottom: 1px solid lightgray;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 3rem;
    padding-right: 3rem;
}

header ul{
    list-style: none;

    display: flex;
    column-gap: 1.5rem;
}

header ul li:hover{
    text-decoration: underline;
    cursor: default;
}

h1{
    grid-row: 2;
    grid-column: 2/5;
    font-weight: 300;
}